ul{
    list-style-type: circle;
}

img{
    border-radius: 7px;
}

a h3:hover{
    color: dodgerblue;
}

a h3:link, a h3:visited, a h3:active{
    color: #1153a3;
}

#venteReparation {
    display: inline-flex;
}

#vente, #reparation {
    float: right;
    margin: 30px 50px 30px 50px;
}

#imgReparation img{
    width: 350px;
    margin: 30px 50px 30px 50px;
}

