fieldset {
    border: 2px solid #1153a3;
    color: #1153a3;
    text-align: center;
    float: center;
    height: 11em;
}

legend {
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

pre {
    font-size: 20px;
}