* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
    background-color: #000f20;
    height: 150px;
    border-radius: 0 0 7px 7px;
    color: white;
    margin-bottom: 1em;
    text-align: center;
}

section {
    height: auto;
    padding: 1em 1em 5em 1em;

}

fieldset {
    border-radius: 1em;
}

nav {
    margin-top: 2em;
    padding-bottom: 1em;
}

nav a {
    border-right: 2px solid white;
    color: white;
    padding: 0 1.5em 0 1.5em;
    font-size: 24px;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

footer {
    background-color: #000f20;
    border-radius: 7px 7px 0 0;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width:100%;
}

h1, h4 {
    margin: 0;
}

#joindre {
    border-right: none;
}

#manufacturiers img {
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}